.section-people {
  text-align: center;
  margin-top: 100px;
  width: 600px;
  margin: 0 auto;
  color: var(--color-neutral);
  font-family: "Open Sans", sans-serif;
}

.title-people {  
  font-weight: bold;  
  font-size: 40px;
  margin-top: 25px;
}

.subtitle-people {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 25px;
}

.button-people {
  background-color: var(--color-cyan);
  color: var(--color-neutral);
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border-radius: 70px;
  border: none;
  font-size: 14px;
  font-weight: bold;
}