.section-icons {
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  height: 50%;
}

.ul-icons {
  display: flex;
  flex-wrap: wrap;
}

.li-icons {
  width: 50%;
  text-align: center;
  padding-bottom: 50px;
}

.img-icons {
  width: 80px;
  height: 72px;
}

.title-icons {
  color: var(--color-neutral);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
}

.subtitle-icons {
  color: var(--color-neutral);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  width: 390px;
  margin: 0 auto;
}