.section-talking {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.quote-card {
  width: 400px;
  height: 180px;
  background-color: var(--color-testimonials);
  display: flex;
  justify-content: center;
  align-items: center;
}


.talking-text {
  color: var(--color-neutral);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  width: 350px;
}